@{
    ViewBag.Title = "Acerca de";
}

<h2>Acerca de</h2>
<p>Este sitio fue creado por Geek Nights Chihuahua. Una comunidad creada con la finalidad de compartir conocimiento</p>
<p>Siguenos en Google+</p>
<div class="g-community" data-href="https://plus.google.com/communities/113864651382277557583" data-layout="landscape"></div>
