@{
    ViewBag.Title = "Chihuahua Area Rapid Transit";
}


<div class="jumbotron">
    <h1>Chihuahua Area Rapid Transit</h1>
    <p class="lead">Esta es la unica aplicacion que necesitas para el transporte p&uacute;blico en Chihuahua.</p>    
</div>