@{
    ViewBag.Title = "Chihuahua Area Rapid Transit";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>Bienvenido</h2>
<p>Esta es la unica aplicacion que necesitas para el transporte publico en Chihuahua</p>